headersOrigin = "config"
redirectsOrigin = "config"
plugins = []

[functions]

[functions."*"]

[build]
publish = "C:\\Users\\jaenr\\Min enhet (jaenrobert@gmail.com)\\AEPORT_LOCAL\\public"
publishOrigin = "config"
commandOrigin = "ui"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]

[[headers]]
for = "/*"

[headers.values]
X-Frame-Options = "DENY"
X-XSS-Protection = "1; mode=block"
X-Content-Type-Options = "nosniff"
Referrer-Policy = "no-referrer-when-downgrade"

[[headers]]
for = "/js/*"

[headers.values]
Cache-Control = "public, max-age=31536000"

[[headers]]
for = "/css/*"

[headers.values]
Cache-Control = "public, max-age=31536000"

[[redirects]]
from = "/api/*"
to = "/.netlify/functions/exec"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]

[[redirects]]
from = "/*"
to = "/index.html"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]